.list-group-item {
  margin: 20px;
  width: 40%;
  background-color: #b6846b;
  border-radius: 15px;
}
.newsItem{
  width: 90%;
}
img {
  width: 45%px;
  height: 45%px;
  margin: 10px;
}
.card{
  padding-right:20px;
}