.list-group-item {
  margin: 20px;
  background-color: #ccbba8;
  border-radius: 15px;
}
.newsItem {
  width: 90%;
}
img {
  margin: 10px;
}
.card {
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
.list-group-item {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
}
