<div class="nav">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">Pier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/garage">Messanger</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <img src="../../assets/imgs/GARAGE.png" alt="garage" class="garage" routerLink="/"/>

  <div class="playerDiv">
    <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [displayTitle]="msbapDisplayTitle" [ngClass]='playerClass'>
    </mat-basic-audio-player>
  </div>
  

  <img src="../../assets/imgs/player.png" alt="player" class="player" (click)='openPlayer()'>
  
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/news">Pier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/garage">Messanger</a>
    </li>
  </ul>
</div>
