ul, div {
  background-color: #000010;
}
div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
li a{
    color: #cacac8;
    font-weight: bolder;
    font-size: 27px;
}
li a:hover{
    color: #b6846b;
}
img{
  height: 60px;
  width: 60px;
  margin-left: 20px;
}
