ul,
div {
  background-color: #132434;
}
div.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
li a {
  color: #cacac8;
  font-weight: bolder;
  font-size: 27px;
}
li a:hover {
  color: gold !important;
}
img {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  outline: none;
}
img:hover,
.navbar-toggler-icon:hover {
  opacity: 0.5;
}
nav {
  display: none;
}
nav.navbar {
  padding: 0 !important;
}
.playerDiv {
  width: 316px;
}
.navbar-toggler {
  outline: none;
  color: gold;
  border-color: #000010;
  font-size: 40px;
  padding: 0;
}
span.navbar-toggler-icon {
  background-image: url(../../assets/imgs/burger.png) !important;
}
.none {
  display: none;
}

@media screen and (max-width: 900px) {
  ul.nav.justify-content-end,
  img.garage {
    display: none;
  }
  nav {
    display: flex;
    padding-top: 15px !important;
  }
}
@media screen and (max-width: 570px) {
  .nav {
    flex-direction: column;
  }
  .playerDiv {
    margin: 10px;
  }
  img.player {
    margin: 15px;
  }
}
