.none {
  display: none !important;
}
.newsList {
  width: 100% !important;
}
.forecastDiv {
  margin: 15px;
}
.forecastList {
  padding: 22.5px;
  border-radius: 15px;
  background-color: gold;
  height: fit-content;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.SPINNER {
  position: fixed;
  z-index: 100;
  right: 40%;
  left: 40%;
}
.spinner-grow {
  width: 200px;
  height: 200px;
}
.classy {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control {
  width: 70% !important;
}
.list,
.list div {
  align-content: center;
}
.list div {
  padding-left: 15%;
  padding-right: 15%;
}
button.btn-dark {
  height: 50px;
}
.list-group {
  width: 462px !important;
  margin: 15px !important;
  list-style-type: none;
}
.forecastLi {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.forecastLi,
.forecastUl {
  width: 90% !important;
}
.alert {
  margin-bottom: 5px !important;
}
.alert.alert-danger {
  margin-left: 5%;
  margin-right: 5%;
}
select {
  margin: 15px;
}
div.list button {
  margin: 15px;
  width: 100px !important;
}
mat-form-field {
  margin: 15px;
}
mat-form-field input {
  color: blue;
}
.chooseNews {
  background-color: gold;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chooseNews button.mat-raised-button.mat-primary {
  height: 45px;
  outline: none !important;
}

@media screen and (max-width: 900px) {
  div.d-flex.justify-content-between.flex-wrap-reverse {
    justify-content: center !important;
  }
}
