.none {
  display: none !important;
}
.newsList {
  width: 100% !important;
}
.forecastDiv {
  margin: 15px;
}
.forecastList {
  padding: 22.5px;
  border-radius: 15px;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  height: fit-content;
  margin-bottom:15px; 
}
.SPINNER {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 20%;
  left: 22.5%;
}
.spinner-grow {
  width: 200px;
  height: 200px;
}
.classy {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control {
  width: 70% !important;
}
.list,
.list div {
  align-content: center;
}
.list div {
  padding-left: 15%;
}
button.btn-dark {
  height: 50px;
}
.list-group {
  width: 462px !important;
  margin: 15px !important;
  list-style-type: none;
padding-left: 7%;}
.forecastLi,
.forecastList,
.alert.alert-danger {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.forecastLi,
.forecastUl {
  width: 90% !important;
}
.alert {
  margin-bottom: 5px !important;
}
.alert.alert-danger {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
}
select {
  margin: 15px;
}
div.list button {
  margin: 15px;
  width: 100px !important;
}
mat-form-field {
  margin: 15px;
}
mat-form-field input {
  color: blue;
}
.chooseNews {
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.form form,
div.radios mat-radio-group div {
  display: flex;
  flex-direction: column;
}
div.radios,
div.form {
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  height: fit-content;
}
.radios h3{
  user-select: none;
}
.currencyButton {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.showCurrency {
  margin: 65px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  div.d-flex.justify-content-between.flex-wrap-reverse {
    justify-content: center !important;
  }
}
