<div class="d-flex justify-content-around flex-wrap-reverse">
  <div class="list">
    <div class="chooseNews">
      <mat-form-field>
        <mat-label>Choose the Source</mat-label>
        <mat-select id="news" [(ngModel)]="selectedType">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let option of options" [value]="option.value">{{
            option.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="{{ chooseButtonClass }}"
        (click)="SubmitType()"
      >
        Choose
      </button>
    </div>
    <p class="alert alert-danger" [ngClass]="errorClass">{{ error }}</p>
    <ul class="list-group newsList" *ngIf="news">
      <app-news-item
        *ngFor="let event of news.articles"
        [newsItem]="event"
      ></app-news-item>
      <mat-progress-spinner
        mode="{{ spinnermode }}"
        class="SPINNER"
      ></mat-progress-spinner>
    </ul>
  </div>

  <div class="radiosList">
    <div class="radios">
      <h3>Select base currency:</h3>
      <mat-radio-group
        class="currencyButton"
        aria-label="Select base currency:"
      >
        <div>
          <mat-radio-button
            (click)="changeCurrency(radio.name, radio.value)"
            *ngFor="let radio of radios"
            [value]="radio.value"
            >{{ radio.name }}</mat-radio-button
          >
        </div>
        <div class="showCurrency">
          {{ changebleCurrency }}
        </div>
      </mat-radio-group>
      <button mat-raised-button color="primary" (click)="SubmitCurrency()">
        Submit
      </button>
    </div>
    <ng-template
      [ngIf]="currencyContainer[0] !== undefined">
      <ul class="list-group forecastUl">
        <li class="list-group-item alert alert-secondary forecastLi">
          Base currency:&nbsp; {{ currencyContainer[0].base_ccy }}
        </li>
        <li class="list-group-item alert alert-secondary forecastLi">
          Currency:&nbsp; {{ currencyContainer[0].ccy }}
        </li>
        <li class="list-group-item alert alert-secondary forecastLi">
          Buy:&nbsp; {{ currencyContainer[0].buy }}
        </li>
        <li class="list-group-item alert alert-secondary forecastLi">
          Sale:&nbsp; {{ currencyContainer[0].sale }}
        </li>
      </ul>
    </ng-template>
  </div>

  <div class="forecastDiv">
    <div class="forecastList">
      <div class="classy">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Select City"
            [(ngModel)]="selectedCity"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onChange()">
          Find
        </button>
      </div>
      <ng-template #valid>
        <ul class="list-group forecastUl">
          <li class="list-group-item alert alert-primary forecastLi">
            City:&nbsp; {{ weatherForecast.name }}
          </li>
          <li class="list-group-item alert alert-secondary forecastLi">
            Country:&nbsp; {{ weatherForecast.sys.country }}
          </li>
          <li class="list-group-item alert alert-secondary forecastLi">
            Temperature:&nbsp; {{ degreez }}&deg;C
          </li>
          <li class="list-group-item alert alert-secondary forecastLi">
            Weather:&nbsp; {{ weather }}&nbsp;
            <img
              src="http://openweathermap.org/img/w/{{ icon }}.png"
              alt="{{ weather }}"
            />
          </li>
          <li class="list-group-item alert alert-secondary forecastLi">
            Wind speed:&nbsp; {{ weatherForecast.wind.speed }}m/s
          </li>
        </ul>
      </ng-template>
    </div>
    <div
      *ngIf="degreez === null; else valid"
      class="alert alert-danger"
      [ngClass]="errorClass_2"
    >
      Please, write the name of city!
    </div>
  </div>
</div>
