/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,main {
  height: 100%;
  background-color: #e6d4a2!important;
}
div.mat-slider-ticks-container {
  background-color: azure !important;
}
div.mat-slider-thumb {
  background-color: gold !important;
}
button.mat-button {
  margin: 5px !important;
  min-width: 40px !important;
  zoom: 0.5 !important;
}
mat-advanced-audio-player {
  color: azure !important;
  max-width: 320px !important;
  max-height: 74px !important;
}
.playerDiv {
  margin-top: -10px;
  margin-bottom: -10px;
}
mat-advanced-audio-player mat-card {
  background-color: #cacac8 !important;
}
mat-card.row.d-flex.justify-content-center.ngx-advanced-audio-player.mat-card{
    height: 40px;
}
mat-card.ngx-advanced-audio-player-title.mat-card div.p-1 {
  height: 28px !important;
}
div.ng-tns-c12-1.ng-trigger.ng-trigger-transformPanel.mat-select-panel.mat-primary,
.cdk-overlay-pane {
  margin-top: 50px !important;
}
