<div class="container">
  <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
    <mat-tab label="Turn">
      <div class="memeTab">
        <img src="../../assets/imgs/meme_1.png" alt="meme" />
        <div>
          <p>Impressive Design</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="The pages">
      <div class="memeTab">
        <img src="../../assets/imgs/meme_3.png" alt="meme" />
        <div>
          <p>Curious Idea</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="They'll">
      <div class="memeTab">
        <img src="../../assets/imgs/meme__3.png" alt="meme" />
        <div>
          <p>Deep Meaning</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Make You">
      <div class="memeTab">
        <img src="../../assets/imgs/meme_4.png" alt="meme" />
        <div>
          <p>It's not about me...</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Smile;)">
      <div class="memeTab">
        <img src="../../assets/imgs/meme_5.png" alt="meme" />
        <div>
          <p>Actually about Me</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
